/* font import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family:  'Raleway';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.name {
  font-size: 40px;
  color: black;
  font-weight: 900;
}

.flex{
  position: relative;
  margin-left: 30px;
  display: flex;
  gap: 100px;
  border-bottom: solid 1px black;
}


.profile {
  width: 150px;
  height: 150px;
  margin-top: 40%;
  border: 0.5px solid #999;
  border-radius: 50%;

}


.info {
  text-align: left
}

input {
  /* 参照
  https://ryunosukeblog.tatu-hobby.com.tatu-hobby.com/2020/10/28/htmlcss-input-outline/
  https://hirako50.com/blog/searchbox-customize/ */
  font-family: 'Raleway';
  font-size: 14px;
  padding: 16px 20px;
  background-color:#fff;
  outline: none;
  border: 0;
  border-radius: 0;
  border-bottom: solid 2px black;
  width: 90%;
  }

  .button {
    border: none;
    outline: none;
    background: transparent;
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .button_p{
    font-size: 50px;
    color: gray;
  }